/* layout.css, v3.0 2009/1/8 
 * Dr. Florian Radut, florian[at]radut.net
 */

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif, Arial, Verdana, Helvetica;
	font-size: 83%;
	line-height: 125%;
}

/* MAIN LAYOUT */
.page {
	margin: 0 15px;
}
.sizer {
	margin: 0 auto;
}
.expander0 {
	position: relative; /* makes .expander0 visible outside .sizer in IEwin */
	min-height: 1px; /* This harmless declaration gives Layout to IE7, which can't read the star/html hack */
}

body.layout-jello .page {
	padding: 0 480px; /* the critical side padding that sets the natural min-width! */
}
body.layout-jello .sizer {
	padding: 0;
	text-align: left;
	width: 60%; /* this value controls liquidity; 0% = full rigid, 100% = full liquid */
	max-width: 192px; /* IE7 supports this property, doesn't need the fancy MS expression */
}
body.layout-jello .expander0 {
	margin: 0 -480px; /* neg side margin values should be < or = to side body padding and 1/2 of min-width below */
	min-width: 960px; /* This prevents Safari from losing the negative margins in narrow windows */
} /* .expander0 must receive "hasLayout" for IEwin bug fixing; applied in ie6.css and ie7.css */

body.layout-fluid .sizer, body.in-maintenance .sizer { /* custom */
	width: 90%;
}
body.layout-fixed .sizer { /* custom */
	width: 961px;
}

/* MAIN PAGE STRUCTURE */
/* To modify the side column widths and the col divider widths, the values that are marked 
"Critical Left (Right) divider dimension value = cLddv (cRddv)" and 
"Critical Left (Right) col width value = cLcwv (cRcwv) also refer to the desired mod MUST be changed as a group. */

body.layout-left-main-right .outer {
	margin-left: 202px;			/*** cLcwv ***/
	margin-right: 276px;			/*** cLcwv ***/
}
body.layout-left-main .outer {
	margin-left: 292px;			/*** cLcwv ***/
}
body.layout-main-right .outer {
	margin-right: 292px;			/*** cLcwv ***/
}
.float-wrap {
	float: left;
	width: 100%;
}
.colmain {
	float: right;
	width: 100%;
}
.colleft {
	float: left;
	position: relative;
	width: 202px;			/*** cLcwv ***/
	margin-left: -202px;		/*** cLcwv ***/ /*** cLddv ***/
}
.colright {
	float: right;
	position: relative;
	width: 276px;		/*** cRcwv ***/
	margin-right: -276px;		/*** cRcwv ***/ /*** cRddv ***/
}
body.layout-left-main .colleft {
	width: 292px;			/*** cLcwv ***/
	margin-left: -292px;		/*** cLcwv ***/ /*** cLddv ***/
}
body.layout-main-right .colright {
	width: 292px;		/*** cRcwv ***/
	margin-right: -292px;		/*** cRcwv ***/ /*** cRddv ***/
}

/* MARKUP FREE CLEARING (http://www.positioniseverything.net/easyclearing.html) */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* End hide from IE-mac */

/* UTILITY RULES */
.brclear {
	clear:both;
	height:0;
	margin:0;
	font-size: 1px;
	line-height: 0;
}

#above {
	min-height: 20px;
}
#above .block {
	float: right;
}
#wrapper {
	position: relative;
	width: 100%; /* helps IE get the child percentages right */
}

h1, h2, h3, h4, h4 {
	padding-bottom: 5px;
	margin: 10px 0;
}
h1 {
	font-size: 160%;
	line-height: normal;
}
h2 {
	font-size: 125%;
}
h3 { 
	font-size: 110%;
}
h4 {
	font-size: 100%;
}
p {
	margin-top: 0.5em;
	margin-bottom: 0.9em;
}
a {
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}
fieldset {
	border: 1px solid #ccc;
}
pre {
	background-color: #eee;
	padding: 0.75em 1.5em;
	font-size: 12px;
	border: 1px solid #ddd;
}
.links {
	margin: 0;
	clear: both;
}
.links a {
	font-weight: bold;
}
.comment .links {
	margin-bottom: 0;
}
table {
	font-size: 1em;
}
tbody {
	border: none;
}
tr.odd td, tr.even td {
	padding: 0.3em;
}
table.sections {
	width: 100%;
	padding: 0;
}
td.section.width49{
	width: 50%;
	vertical-align: top;
}
td.section.width33 {
	width: 33%;
	vertical-align: top;
}
#section1 td.section, #section2 td.section {
	padding: 10px 20px 0 20px;
}
#header, #content {
	width: 100%;
}
#header .block {
	padding: 0;
	margin: 0 15px 5px;
	float: right;
}
#top-elements {
	float: right;
	text-align: right;
	padding: 15px 15px 0 0;
	width: 220px;
}
#logo img {
	padding: 0;
	margin: 0;
}
#site-name {
	margin: 0 0 0 35px;
	padding: 30px 0 0 0;
}
#site-name a, #site-name a:hover {
	font-weight: bold;
	text-decoration: none;
	font-size: 185%;
}
#site-slogan {
	margin: 0 0 0 38px;
	padding: 4px 0 0 0;
	font-size: 12px;
}
#mission {
	font-weight: normal;
	padding: 0.75em;
	margin: 4px 0 20px;
	font-size: 85%;
}
#mission a, #mission a:visited {
	font-weight: normal;
	text-decoration: underline;
}
#search .form-text, #search .form-submit {
	font-size: 1.1em;
	height: 1.5em;
	vertical-align: middle;
}
#search .form-text {
	width: 8em;
	padding: 0 0.5em;
}
#search .form-item label, .block-search .form-item label {
	display: none;
}
#breadcrumb {
	padding-left: 14px;
	clear: both;
	font-size: 80%;
}
#breadcrumb, #breadcrumb a {
	font-weight: normal;
}
#breadcrumb .breadcrumb {
	padding: 0;
}


/* MENU STYLES */

li.expanded {
	list-style-image: url(../images/all/menu-expanded.png);
}
li.collapsed {
	list-style-image: url(../images/all/menu-collapsed.png);
}

.navleft {
	padding-left: 20px;
}
.navright {
	float: right;
	padding-right: 20px;
}

#primary {
	line-height: 30px;
}
#primary ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#primary li {
	display: inline;
}
#primary a {
	font-weight: bold;
	display: block;
	float: left;
	padding: 0px 14px;
	margin: 0px 1px 0px 0px;
	font-size: 95%;
}
#secondary ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#secondary li {
	margin: 0;
	padding: 0;
	display: inline;
}
#secondary li a {
	float: left;
	display: block;
	font-size: 90%;
	padding: 0px 14px;
}
#primary a, #primary a:hover, #secondary a, #secondary a:hover {
	text-decoration: none;
}
#primary li.last a, #secondary li.last a {
	border: none;
}
#footer ul.links li.first, ul.links li.first {
	border: none;
}
#footer .block ul, #footer ul.links li.first {
	margin-left: 0;
	padding-left: 0;
}
#middlecontainer {
	padding: 1px 0 0 0;
}
#main {
	padding: 12px 10px;
	overflow: visible;
}
#main .block {
	padding-top: 10px;
}
#sidebar-left, #sidebar-right {
	position: relative;
}
#content-middle {
	margin-right: 20px;
	float: left;
}
#content-middle .block {
	padding: 10px 0 0 0;
}
#footer {
	text-align: center;
	margin: 0;
	padding: 1em;
	font-size: 75%;
}
#footer a {
	font-weight: normal;
}
#footer .block {
	padding: 0;
	margin: 0;
}
#header .block h2, #footer .block h2 {
	display: none;
}
.title, .title a {
	font-weight: bold;
	margin: 0 auto;
}
.submitted {
	font-size: 0.8em;
}
.box {
	padding: 0 0 1.5em 0;
}
.block {
	padding-bottom: 0.75em;
	margin-bottom: .5em;
}
.section .block, .section .box {
	padding: 0;
	margin-bottom: 15px;
}
.block .title {
	margin-bottom: .25em;
}
.node {
	margin: .5em 0 2em 0;
}
.node .content, .comment .content {
	margin: .5em 0 .5em 0;
}
.node .terms {
	font-size: 0.8em;
	padding-left: 0.6em;
}
.node .terms a {
	font-weight: normal;
}
.terms ul.taxonomy ul.vocab-list, .terms ul.taxonomy li.vocab-term {
  display: inline;
  padding: 0;
  margin: 0;
}
.terms ul.taxonomy li.vocab {
	list-style: none;
	font-weight: bold;
}
#help {
	font-size: 0.9em;
	margin-bottom: 1em;
}
.error {
	border-color: red;
}
.comment {
	padding: .5em;
	margin-bottom: 1em;
}
.comment .title a {
	font-weight: normal;
}
.comment .new {
	text-align: right;
	font-weight: bold;
	font-size: 0.8em;
	float: right;
	color: red;
}
.node.teaser {
	border-bottom: 1px dashed #ddd;
	padding-bottom: 5px;
}
.node .picture, .comment .picture {
	float: right;
	padding: 0.5em;
}
#aggregator .feed-source {
	padding: 1em;
	margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
	font-style: italic;
	font-size: 0.9em;
}
#aggregator .title {
	margin-bottom: 0.5em;
}
#aggregator h3 {
	margin-top: 1em;
}
#forum table {
	width: 100%;
}
#forum td {
	padding: 0.5em;
}
#forum td .links {
	padding-top: 0.7em;
	font-size: 0.9em;
}
.block-forum h3 {
	margin-bottom: .5em;
}
#profile .profile {
	clear: both;
	padding: .5em;
	margin: 1em 0em;
}
#profile .profile .name {
	padding-bottom: 0.5em;
}
#user-login-form, div.toboggan-login-link-container, div.user-login-block, .block-logintoboggan {
  text-align: center;
}
#user-login-form .item-list {
	text-align: left;
}
#user-login-form ul li.openid-link ,
#user-login-form ul li.user-link {
	padding: 5px 0 0 20px;
	margin-left: 0;
	list-style-type: none;
}

.legal {
	margin: 10px auto 0 auto;
	padding: 0 90px 0 90px;
}
.by {
	float: right;
	clear: both;
	font-size: 75%;
}
.by, .by a, .by a:hover {
	color: #bbb !important;
	text-decoration: none;
	font-weight: normal;
}
body.in-maintenance #main {
	padding: 55px 115px 120px;
}


/* ANOTHER SON OF SUCKERFISH...
http://www.htmldog.com/articles/suckerfish/dropdowns/
http://www.alistapart.com/articles/horizdropdowns
*/

#suckerfishmenu.vert, #suckerbar {
	position: relative;
	z-index: 50;
}
#suckerfishmenu {
	line-height: 30px;
}
#suckerfishmenu h2 {
	display: none;
}
#suckerfishmenu .block {
	margin: 0;
	padding: 0;
}
#suckerfishmenu .block, #suckerfishmenu .box {
	padding: 0;
}
#suckerfishmenu ul.menu li {
	list-style: none;
}
#suckerfishmenu.horiz ul.menu { /* top level ul */
	display: inline;
}
#suckerfishmenu ul.menu {
	list-style: none;
	padding: 0;
	z-index: 99;
}
#suckerfishmenu a {
	display: block;
	padding: 0 14px; /* padding between main menu elements */
	margin: 0;
	text-decoration: none;
	font-weight: bold;
}
#suckerfishmenu a:active, #suckerfishmenu a:hover {
	text-decoration: none;
}
#suckerfishmenu.horiz li {
	display: inline;
	float: left;
}
#suckerfishmenu li {
	margin: 0;
	padding: 0;
	height: 1%;
}
#suckerfishmenu li:hover, #suckerfishmenu li.hover {
	position: static;
}

/* suckerfish second-level lists */
#suckerfishmenu ul.menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#suckerfishmenu ul.menu li ul {
	position: absolute;
	width: 170px;
	left: -999em;
}
#suckerfishmenu ul.menu li li {
	height: auto;
	float: right;
	width: 170px;
}
#suckerfishmenu ul.menu li li a:link, #suckerfishmenu ul.menu li li a:visited {
	font-weight: bold;
	width: 170px;
}
#suckerfishmenu ul.menu li ul a {
	padding: 0.1em 0 0em 0.8em;
	width: 170px;
	line-height: 29px;
}
#suckerfishmenu ul.menu li ul a:active, #suckerfishmenu ul.menu li ul a:hover {
	text-decoration: none;
}

/* suckerfish margin for pullouts */
#suckerfishmenu.horiz ul.menu li ul ul {
	margin: -32px 0 0 182px;
}
#suckerfishmenu.horiz ul.menu li:hover ul ul, #suckerfishmenu.horiz ul.menu li:hover ul ul ul, #suckerfishmenu.horiz ul.menu li.sfhover ul ul, #suckerfishmenu.horiz ul.menu li.sfhover ul ul ul,
#suckerfishmenu.vert ul.menu li:hover ul ul, #suckerfishmenu.vert ul.menu li:hover ul ul ul, #suckerfishmenu.vert ul.menu li.sfhover ul ul, #suckerfishmenu.vert ul.menu li.sfhover ul ul ul {
	left: -999em;
}
#suckerfishmenu.horiz ul.menu li:hover ul, #suckerfishmenu.horiz ul.menu li li:hover ul, #suckerfishmenu.horiz ul.menu li li li:hover ul, 
#suckerfishmenu.horiz ul.menu li.sfhover ul, #suckerfishmenu.horiz ul.menu li li.sfhover ul, #suckerfishmenu.horiz ul.menu li li li.sfhover ul {
	left: auto;
}
#suckerfishmenu.vert ul.menu li:hover ul, #suckerfishmenu.vert ul.menu li li:hover ul, #suckerfishmenu.vert ul.menu li li li:hover ul, 
#suckerfishmenu.vert ul.menu li.sfhover ul, #suckerfishmenu.vert ul.menu li li.sfhover ul, #suckerfishmenu.vert ul.menu li li li.sfhover ul {
	margin: -32px 0 0 182px;
	left: auto;
}

/* "Skip to Main Content" link - is useful for both visually impaired people and those with mobility impairments who cannot use a mouse */
#skip-nav {
	display: none;
}
#skip-nav a, #skip-nav a:hover, #skip-nav a:visited {
	position: absolute;
	left: 0;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
#skip-nav a:active, #skip-nav a:focus {
	position: static;
	width: auto;
	height: auto;
}

/* MODULE SPECIFIC STYLES */

.book-navigation .menu {
	border-top: none;
}
.panel-col-top .node .content {
	background-image: none;
}
.block-image .content {
	text-align: center;
	padding: 0 !important;
}
ul.images li h3 {
	display: none;
}
ul.galleries li, ul.images li {
	background : none;
	border : none;
}
body.mceContentBody {
	background: #eee !important;
	font-size: 14px;
}
body.mceContentBody a:link {
	font-weight: normal;
}
.view .view-comments-recent .views-field-subject {
	font-weight: bold;
}
.view .views-admin-links li {
	background: transparent !important;
}



/* BLOCK ICONS */

body.bicons32 div.block-icon {
	position: absolute;
	width: 32px;
	height: 32px;
	margin: -5px 0 0 -5px;
}
body.bicons48 div.block-icon {
	position: absolute;
	width: 48px;
	height: 48px;
	margin: -15px 0 0 -18px;
}
body.bicons32 .block.themed-block .title,
body.bicons48 .block.themed-block .title {
	text-align: right;
}

/*--- blog ---*/
body.bicons32 .block-blog .block-icon {
	background: transparent url(../images/icons/blocks/icon_01_32.png) no-repeat;
}
body.bicons32 #block-blog-0 .block-icon, body.bicons32 #block-blog-recent .block-icon {
	background: transparent url(../images/icons/blocks/icon_02_32.png) no-repeat;
}
body.bicons48 .block-blog .block-icon {
	background: transparent url(../images/icons/blocks/icon_01_48.png) no-repeat;
}
body.bicons48 #block-blog-0 .block-icon, body.bicons48 #block-blog-recent .block-icon {
	background: transparent url(../images/icons/blocks/icon_02_48.png) no-repeat;
}

/*--- image ---*/
body.bicons32 .block-image .block-icon, body.bicons32 .block-image_attach .block-icon, .block-gallery_assist .block-icon {
	background: transparent url(../images/icons/blocks/icon_05_32.png) no-repeat;
}
body.bicons48 .block-image .block-icon, body.bicons48 .block-image_attach .block-icon, .block-gallery_assist .block-icon {
	background: transparent url(../images/icons/blocks/icon_05_48.png) no-repeat;
}

/*--- comments & forums ---*/
body.bicons32 .block-comment .block-icon, body.bicons32 .comments-block-icon .block-icon,
body.bicons32 #block-views-comments_recent-block .block-icon {
	background: transparent url(../images/icons/blocks/icon_01_32.png) no-repeat;
}
body.bicons32 .block-forum .block-icon,
body.bicons32 #block-views-comments_recent-block h2.block-title {
	background: transparent url(../images/icons/blocks/icon_06_32.png) no-repeat;
}
body.bicons48 .block-comment .block-icon, body.bicons48 .comments-block-icon .block-icon,
body.bicons48 #block-views-comments_recent-block .block-icon {
	background: transparent url(../images/icons/blocks/icon_01_48.png) no-repeat;
}
body.bicons48 .block-forum .block-icon,
body.bicons48 #block-views-comments_recent-block h2.block-title {
	background: transparent url(../images/icons/blocks/icon_06_48.png) no-repeat;
}

/*--- book ---*/
body.bicons32 .block-book .block-icon {
	background: transparent url(../images/icons/blocks/icon_22_32.png) no-repeat;
}
body.bicons48 .block-book .block-icon {
	background: transparent url(../images/icons/blocks/icon_22_48.png) no-repeat;
}

/*--- views default ---*/
body.bicons32 .block-views .block-icon {
	background: transparent url(../images/icons/blocks/icon_07_32.png) no-repeat;
}
body.bicons48 .block-views .block-icon {
	background: transparent url(../images/icons/blocks/icon_07_48.png) no-repeat;
}

/*--- user login ---*/
body.bicons32 #block-user-0 .block-icon, body.bicons32 #block-user-login .block-icon {
	background: transparent url(../images/icons/blocks/icon_14_32.png) no-repeat;
}
body.bicons48 #block-user-0 .block-icon, body.bicons48 #block-user-login .block-icon {
	background: transparent url(../images/icons/blocks/icon_14_48.png) no-repeat;
}
div.toboggan-login-link-container {
  padding-left: 20px;
}

/*--- user ---*/
body.bicons32 .block-user .block-icon {
	background: transparent url(../images/icons/blocks/icon_08_32.png) no-repeat;
}
body.bicons32 .admin .block-user .block-icon {
	background: transparent url(../images/icons/blocks/icon_12_32.png) no-repeat;
}
body.bicons48 .block-user .block-icon {
	background: transparent url(../images/icons/blocks/icon_08_48.png) no-repeat;
}
body.bicons48 .admin .block-user .block-icon {
	background: transparent url(../images/icons/blocks/icon_12_48.png) no-repeat;
}

/*--- user new/online ---*/
body.bicons32 #block-user-2 .block-icon, body.bicons32 #block-user-3 .block-icon, 
body.bicons32 #block-user-new .block-icon, body.bicons32 #block-user-online .block-icon {
	background: transparent url(../images/icons/blocks/icon_19_32.png) no-repeat;
}
body.bicons48 #block-user-2 .block-icon, body.bicons48 #block-user-3 .block-icon, 
body.bicons48 #block-user-new .block-icon, body.bicons48 #block-user-online .block-icon {
	background: transparent url(../images/icons/blocks/icon_19_48.png) no-repeat;
}

/*--- simplenews / Google groups /aggregator ---*/
body.bicons32 .block-simplenews .block-icon, body.bicons32 .block-google_groups .block-icon, body.bicons32 .block-aggregator .block-icon {
	background: transparent url(../images/icons/blocks/icon_10_32.png) no-repeat;
}
body.bicons48 .block-simplenews .block-icon, body.bicons48 .block-google_groups .block-icon, body.bicons48 .block-aggregator .block-icon {
	background: transparent url(../images/icons/blocks/icon_10_48.png) no-repeat;
}

/*--- devel ---*/
body.bicons32 #block-menu-devel .block-icon {
	background: transparent url(../images/icons/blocks/icon_12_32.png) no-repeat;
}
body.bicons48 #block-menu-devel .block-icon {
	background: transparent url(../images/icons/blocks/icon_12_48.png) no-repeat;
}

/*--- menu / catalog ---*/
body.bicons32 .block-menu .block-icon, body.bicons32 .block-uc_catalog .block-icon {
	background: transparent url(../images/icons/blocks/icon_13_32.png) no-repeat;
}
body.bicons48 .block-menu .block-icon, body.bicons48 .block-uc_catalog .block-icon {
	background: transparent url(../images/icons/blocks/icon_13_48.png) no-repeat;
}

/*--- search ---*/
body.bicons32 .block-search .block-icon, body.bicons32 .block-google_cse .block-icon {
	background: transparent url(../images/icons/blocks/icon_15_32.png) no-repeat;
}
body.bicons48 .block-search .block-icon, body.bicons48 .block-google_cse .block-icon {
	background: transparent url(../images/icons/blocks/icon_15_48.png) no-repeat;
}

/*--- poll ---*/
body.bicons32 .block-poll .block-icon, body.bicons32 .block-i18npoll .block-icon {
	background: transparent url(../images/icons/blocks/icon_16_32.png) no-repeat;
}
body.bicons48 .block-poll .block-icon, body.bicons48 .block-i18npoll .block-icon {
	background: transparent url(../images/icons/blocks/icon_16_48.png) no-repeat;
}

/*--- most printed/emailed ---*/
body.bicons32 .block-print .block-icon, body.bicons32 .block-print_mail .block-icon {
	background: transparent url(../images/icons/blocks/icon_17_32.png) no-repeat;
}
body.bicons48 .block-print .block-icon, body.bicons48 .block-print_mail .block-icon {
	background: transparent url(../images/icons/blocks/icon_17_48.png) no-repeat;
}

/*--- popular content ---*/
body.bicons32 .block-statistics .block-icon {
	background: transparent url(../images/icons/blocks/icon_18_32.png) no-repeat;
}
body.bicons48 .block-statistics .block-icon {
	background: transparent url(../images/icons/blocks/icon_18_48.png) no-repeat;
}

/*--- locale ---*/
body.bicons32 .block-locale .block-icon {
	background: transparent url(../images/icons/blocks/icon_20_32.png) no-repeat;
}
body.bicons48 .block-locale .block-icon {
	background: transparent url(../images/icons/blocks/icon_20_48.png) no-repeat;
}

/*--- weather ---*/
body.bicons32 .block-weather .block-icon {
	background: transparent url(../images/icons/blocks/icon_21_32.png) no-repeat;
}
body.bicons48 .block-weather .block-icon {
	background: transparent url(../images/icons/blocks/icon_21_48.png) no-repeat;
}

/*--- shopping cart ---*/
body.bicons32 .block-uc_cart .block-icon {
	background: transparent url(../images/icons/blocks/icon_33_32.png) no-repeat;
}
body.bicons48 .block-uc_cart .block-icon {
	background: transparent url(../images/icons/blocks/icon_33_48.png) no-repeat;
}

/* PAGE ICONS */

body.picons .upload_attachments a {
	background: url(../images/icons/attach.png) no-repeat;
	padding-left: 20px;
}
body.picons .comment_comments a {
	background: url(../images/icons/comments.png) no-repeat;
	padding-left: 20px;
}
body.picons li.comment_delete a {
	background: url(../images/icons/trash.png) no-repeat 0 2px;
	padding-left: 15px;
}
body.picons li.comment_edit a {
	background: url(../images/icons/edit.png) no-repeat 0 2px;
	padding-left: 15px;
}
body.picons li.comment_reply a {
	background: url(../images/icons/reply.png) no-repeat 0 2px;
	padding-left: 15px;
}
body.picons .book_add_child a {
	background: url(../images/icons/page-add.png) no-repeat left center;
	padding-left: 20px;
}
body.picons .comment_add a {
	background: url(../images/icons/comment.png) no-repeat left center;
	padding-left: 20px;
}
body.picons .print-icon {
	display: none;
}
body.picons .print_html a, body.picons .book_printer a {
	background: url(../images/icons/print.png) no-repeat left center;
	padding-left: 20px;
	height: 16px;
	display: inline-block;
}
body.picons .print_mail a, body.picons .book_mail a {
	background: url(../images/icons/mail.png) no-repeat left center;
	padding-left: 20px;
	height: 16px;
	display: inline-block;
}
body.picons .print_pdf a, body.picons .book_pdf a {
	background: url(../images/icons/pdf.png) no-repeat left center;
	padding-left: 20px;
	height: 16px;
	display: inline-block;
}
body.picons .print_html, body.picons .book_printer,
body.picons .print_mail, body.picons .book_mail,
body.picons .print_pdf, body.picons .book_pdf {
	margin: auto 0;
	padding-right: 0;
}
body.picons .terms li.first, body.picons .terms ul.taxonomy {
	background: url(../images/icons/tag.png) no-repeat left top;
	padding-left: 20px;
	margin: 10px 0;
}
.terms li.first, .terms ul.taxonomy {
	padding-left: 3px;
}
body.picons #sidebar-left a.active, body.picons #sidebar-right a.active {
	background: url(../images/icons/check.png) no-repeat right center;
	padding-right: 20px;
}
#sidebar-left .block-image a.active , #sidebar-right .block-image a.active  {
	background: none;
	padding: 0;
}
body.picons .node_read_more a {
	background: url(../images/icons/read_more.png) no-repeat left center;
	padding-left: 15px;
}
body.picons .more-link a {
	background: url(../images/icons/more.png) no-repeat left center;
	padding-left: 15px;
	font-size: 9px;
}
body.picons .blog_usernames_blog a {
	background: url(../images/icons/user_green.png) no-repeat left center;
	padding-left: 20px;
}

