/* style.css, v3.0 2009/1/8 
 * Dr. Florian Radut, florian[at]radut.net
 */

body {
	color: #3f3f3f;
	background: #9f9f9f url(../images/bg.png) 0 0 repeat-x fixed;
}

a:link,
a:visited,
a:hover,
.title, .title a,
.node .terms,
#aggregator .news-item .categories, #aggregator .source, #aggregator .age,
#forum td .name,
div.admin-panel .description {
	color: #066;
}

#section1 {
	color: #1e201b;
	background: #b4c48d url(../images/topregion-bg.png) 0 0 repeat-x;
}

#section1 a,
#section1 a:link,
#section1 a:visited,
#section1 h2, #section1 h2 a {
	color: #1e201b;
}

#middlecontainer {
	background: #fff url(../images/all/body-bg.png) 0 0 repeat-x;
}

#middlecontainer h1.title {
	color: #900;
}

#middlecontainer h2.title	{
	color: #066;
}

#sidebar-left .block, #sidebar-right .block {
	background-color: #fff;
	border: 1px solid #ddd;
	margin: 15px 10px;
	padding: 4px;
}

#sidebar-left .block .title, #sidebar-right .block .title {
	text-transform: uppercase;
	font-size: 105%;
	background: #999;
	color: #fff;
	padding: 6px 12px;
	margin: 0;
}

#sidebar-left .block .title a, #sidebar-right .block .title a {
	color: #fff;
}

#sidebar-left .block .content, #sidebar-right .block .content {
	background: #eee;
	padding: 6px;
	margin: 0;
}

.node h2.title a {
	color: #900;
}

#section2 {
	color: #fefff8;
	background: #4f7144 url(../images/bottomregion-bg.png) 0 0 repeat-x;
}

#section2 a,
#section2 a:link,
#section2 a:visited,
#section2 h2, #section2 h2 a {
	color: #fefff8;
}

#section1 td.section.divider {
	background: transparent url(../images/topline.png) 0 0 no-repeat;
}

#section2 td.section.divider {
	background: transparent url(../images/bottomline.png) 0 1px no-repeat;
}

#masthead {
	background: #39384a url(../images/mast-img-bg.jpg) 0 0 repeat-x;
}

#header2 {
	width: 100%;
	height: 100%:
}

#prenav {
	padding: 2px;
	background-color: #900;
}

#postnav {
	border-top: 1px solid #6d9308;
}

#bar {
	background: transparent url(../images/bar.png) 0 0 repeat-x;
	padding: 4px 0 3px;
}

#bar2 {
	background: transparent url(../images/bar2.png) 0 0 repeat-x;
	padding: 1px;
}

#footer-wrapper {
	background: #383838 url(../images/footer-bg.png) 0 0 repeat-x;
}

.footer-right {
	background: transparent url(../images/footer-r.png) 100% 0 no-repeat;
}

.footer-left {
	height: 15px;
	overflow: hidden;
	background: transparent url(../images/footer-l.png) 0 0 no-repeat;
}

#footer, #footer a {
	color: #bebebe;
}

#shadow {
	background: transparent url(../images/shadow-bg.png) 0 0 repeat-x;
	margin-top: 2px;
}

.shadow-right {
	background: transparent url(../images/shadow-r.png) 100% 0 no-repeat;
}
.shadow-left {
	background: transparent url(../images/shadow-l.png) 0 0 no-repeat;
	height: 52px;
}

/* MENU STYLES */

#navigation {
	background: #dadada url(../images/menu-bg.png) repeat-x;
}

#primary a, #suckerfishmenu.horiz a {
	color: #066;
	border-right: 1px solid #cdcdcd;
}

#suckerfishmenu.vert a {
	color: #fff;
}

#primary a:hover, #suckerfishmenu.horiz a:hover, #suckerfishmenu.vert a:hover {
	color: #900;
	background: #dbdbdb;
}

#primary li a.active, #suckerfishmenu.horiz li a.active, #suckerfishmenu.vert li a.active {
	color: #900 !important;
}

#secondary a {
	color: #fff;
	background: #aaa;
	border-right: 1px solid #ccc;
}

#secondary a:hover {
	color: #900;
	background-color: #bbb;
}

#secondary a.active {
	color: #900;
}

/* SUCKERFISHMENU */

#suckerbar {
	width: 220px;
}
#suckerfishmenu.horiz ul.menu li li a:link, 
#suckerfishmenu.horiz ul.menu li li a:visited {
	color: #fff;
	background: #aaa;
	border-left: 1px solid #c4c4c4;
	border-top: 1px solid #c4c4c4;
	border-right: 1px solid #959595;
	border-bottom: 1px solid #959595;
}
#suckerfishmenu.horiz ul.menu li ul a:hover {
	color: #900;
	background: #999;
}
#suckerfishmenu.horiz ul.menu li ul.menu li.expanded a,
#suckerfishmenu.horiz ul.menu li ul.menu li ul.menu li.expanded a {
	background: #aaa url(../images/arrow1.png) 100% 50% no-repeat;
}
#suckerfishmenu.horiz ul.menu li ul.menu li.expanded a:hover, 
#suckerfishmenu.horiz ul.menu li ul.menu li.expanded ul.menu li.expanded a:hover {
	background: #999 url(../images/arrow2.png) 100% 50% no-repeat;
}
#suckerfishmenu.horiz ul.menu li li.expanded ul.menu a, 
#suckerfishmenu.horiz ul.menu li li.expanded ul.menu li.expanded ul.menu a {
	background: #aaa;
}
#suckerfishmenu.horiz ul.menu li li.expanded ul.menu a:hover, 
#suckerfishmenu.horiz ul.menu li li.expanded ul.menu li.expanded ul.menu a:hover {
	background: #999;
}
#suckerfishmenu.vert ul.menu a, 
#suckerfishmenu.vert ul.menu li li a:link, 
#suckerfishmenu.vert ul.menu li li a:visited {
	background: #aaa;
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
	border-right: 1px solid #959595;
	border-bottom: 1px solid #959595;
}
#suckerfishmenu.vert ul.menu li ul a:hover, 
#suckerfishmenu.vert ul.menu li a:hover {
	background: #999;
}
#suckerfishmenu.vert ul.menu li.expanded a,
#suckerfishmenu.vert ul.menu li ul.menu li.expanded a,
#suckerfishmenu.vert ul.menu li ul.menu li ul.menu li.expanded a {
	background: #aaa url(../images/arrow.png) 100% 50% no-repeat;
}
#suckerfishmenu.vert ul li.expanded a:hover,
#suckerfishmenu.vert ul.menu li ul.menu li.expanded a:hover, 
#suckerfishmenu.vert ul.menu li ul.menu li.expanded ul.menu li.expanded a:hover {
	background: #999 url(../images/arrow.png) 100% 50% no-repeat;
}
#suckerfishmenu.vert ul.menu li li.expanded ul.menu a, 
#suckerfishmenu.vert ul.menu li li.expanded ul.menu li.expanded ul.menu a {
	background: #aaa;
}
#suckerfishmenu.vert ul.menu li li.expanded ul.menu a:hover, 
#suckerfishmenu.vert ul.menu li li.expanded ul.menu li.expanded ul.menu a:hover {
	background: #999;
}

ul.links li {
	border-left: 1px solid #d3d3d3;
}
.book-navigation .page-links {
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
}
.book-navigation {
	padding-top: 20px;
	clear: both;
}
#footer ul.links li {
	border-left: 1px solid #909090;
}


/* STYLE TUNING */

#logo {
	float: left;
	margin: 0;
	padding: 14px 20px 14px 25px;
}
#site-name a, #site-name a:hover {
	color: #900;
}
#site-slogan {
	color: #cbcbcb;
	padding-left: 170px;
}
#mission {
	color: #333;
	border: solid 1px #d3d3d3;
}
#search .form-text, #search .form-submit {
	border: 1px solid #555;
}
.submitted, .links {
	color: #3f3f3f;
}
.comment {
	border: 1px solid #d3d3d3;
}
.comment .title {
	padding: 10px 0 12px 19px;
	background: transparent url(../images/all/icon-comment.png) left center no-repeat;
}
.sticky {
	padding: .5em;
	border: dashed 1px #ddd;
}
#aggregator .feed-source {
	background-color: #eee;
	border: 1px solid #ccc;
}
#forum td.forum, #forum td.posts {
	background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
	background-color: #ddd;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
	height: 1.5em;
	border: 1px solid #bbb;
}
#forum td.container {
	background: #cdcdcd url(../images/all/forum-container.jpg) right top no-repeat;
}
#forum td.container a {
	padding: 10px 0 10px 40px;
	background: transparent url(../images/all/forum-link.png) left center no-repeat;
}

.block-image .content {
	background: none !important;
}
ul.galleries li {
	background : #eee;
	border : 1px #ccc solid;
}

.messages {
	padding: 0.3em;
	margin-bottom: 1em;
	background-color: #eee;
	border: 1px solid #ccc;
}
#profile .profile {
	border: 1px solid #abc;
}
.form-item label {
	font-size: 1em;
	color: #222;
}
.item-list .title {
	color: #222;
}
div.admin-panel .body {
	background: #f4f4f4;
}
div.admin-panel h3 {
	color: #abc;
	padding: 5px 8px 5px;
	margin: 0;
}

#brand {
	position: relative;
	margin: 0 auto -15px auto;
	width: 40px;
	height: 40px;
}
#belowme {
	padding: 5px;
	text-align: center;
}
#langs {
	margin: 20px 0 0 0;
}

.smoker {
	color: #900;
	font-style: italic;
}
.quote2 {
	font-style: italic;
}


