/****************************/
/* CUSTOM STYLE CSS         */
/****************************/
/* 
Put your custom css and css overrides in this file.  By restricting 
your css changes to custom-style.css, your changes will not be overwritten 
when upgrading to a new version of this theme.

Steps to customize your 0Point theme:                       
1. Add your custom css to this file                
2. Uncomment different examples and modify data as you wish 
3. Clear cached data at admin/settings/performance 
*/
/****************************/

/* Erase or comment the lines below to get rid of the image in the right sidebar 
 * and the brand image or choose another image and change the path instead. */

 /*
#wrapper {
	background: transparent url(YOURIMAGE.png) 99% 99% no-repeat;
}
*/

#brand {
	background: url(../images/smokers.png) 0 0 no-repeat;
}


/* HEADER IMAGE */
#header2 {
	background: transparent url(../images/mast-img.jpg) 100% 0 no-repeat;
}

/* Uncomment the first declaration below to hide the titles on the front page 
 * Addapt the second declaration to hide a certain title. 
 * Third one is for no "Read more" on the first page. */ 
/*
.front h2 a {
	display: none;
}
.front #node-XXX h2 a {
	display: none;
}
.front .node_read_more {
	display: none;
}
*/


/*******************************/
/* CUSTOM FIXED or FLUID WIDTH */
/*******************************/ 
/* First choose "Custom Layout width" in 0 Point settings page.
 * Uncomment the lines below and modify the value as you wish. 
 * E.g. 1000px for fixed width or 85% for fluid width */
/*
body.layout-fluid .sizer {
	width: 90%;
}
body.layout-fixed .sizer {
	width: 961px;
}
*/


/*******************************/
/* UPDATE ICONS FOR NEW BLOCKS */
/*******************************/
/* where XXX is the block number */

/*
#block-block-XXX .block-icon {
background: transparent url(../images/contact_48.png) no-repeat;
}
*/


.sitemap-box h2 {
	display: none;
}
.views-exposed-widget #edit-submit {
	border: 1px solid #555;
	margin-top: 15px !important;
}
.pane-content h2.title a {
	font-size: 140%;
}

